
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 800px;
    align-items: center;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
}

form {
    padding: 1rem;
}

h1 {

    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-style: bold;
    padding: 1rem;
}

h3 {
    font-style: oblique;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
}


/* 
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 550px; }
#selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; } */

.box {
    background: white;
    color: red;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin: 1%;
  }

.btn-current-select {
    background-color: orange;
}


#submit, #reset {
    background-color: greenyellow;
}

#reset {
    background-color: orange;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 5px;
}
th, td {
    background-color: #96D4D4;
    padding: 4px;
}


table {
    width: 100%;
}

th {
  
    background-color: purple;
    color: yellow;
}

#fest-name {
    width: 35%;
}

#fest-loc {
    width: 30%;
}

#fest-date {
    width: 25%;
}

#fest-link {
    width: 10%;
}


